
@{
    ViewData["Title"] = "About";
}


    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Our Vision</h4>
                        <p>
                            We create elevating experiences for the people we touch and significantly impact the world we work in.
                        </p>
                        </div>

                    <div class="about-details-cap mb-50">
                        <h4>Our Mission</h4>
                        <p>
                            We will do this through a pioneering spirit and a caring, value-driven culture that fosters innovation, drives performance and ensures the highest global standards in everything we do.
                        </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
  