@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!-- About Details Start -->
<div class="about-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Questions</h4>
                    <h6>How can I check the availability of a watch?</h6>
                    <p>
                        Please contact your nearest Official TimeZone Retailer. They are best suited to advise you on selecting a TimeZone watch. They can provide you with information on the availability of TimeZone watches in your region.
                    </p>
                    <h6>How long is the guarantee of a TimeZone watch?</h6>
                    <p>
                        All new TimeZone watches have an international five-year guarantee that will be completed and dated by your Official TimeZone Retailer at the time of purchase and registered with TimeZone. Watches purchased between 1 July 2013 and 30 June 2015 all had their guarantee extended to three years.
                    </p>
                </div>

                
            </div>
        </div>
    </div>
</div>