@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Terms and Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!-- About Details Start -->
<div class="about-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Terms</h4>
                    <p>
                        All watches are assembled by hand with the utmost care to ensure exceptional quality. Such high standards naturally restrict our production capacity and, at times, the demand for our watches outpaces this capacity. Therefore, the availability of certain models may be limited. New watches are exclusively sold by Official TimeZone Retailers, who receive regular deliveries and independently manage the allocation and sales of watches to customers. Official TimeZone Retailers can provide information on the availability of Rolex watches.
                    </p>
                       
                    <p> TimeZone reserves the right at all times to modify its models featured on the Website. While TimeZone has tried to accurately display shapes and colours of its products on the Website, they mostly depend on your monitor and may therefore be perceived differently.</p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>Conditions</h4>
                    <p>
                        Any addition or substitution of parts or accessories with those not manufactured by TimeZone, as well as any alteration, modification or other material change made to or on TimeZone products by a third party not authorised by TimeZone cancels the warranty. TImeZone does not approve any modification made by non-authorised third parties on the Rolex products, including the addition of verbal and graphic elements, as well as any customisation activity (such as black coated watches, the addition of aftermarket diamonds, bezels, dials and bracelets etc.). These modifications may harm the quality and the integrity of the TimeZone products.
                    </p>
                    <p>
                        All intellectual property rights such as trademarks, trade names, designs and copyrights are reserved and are exclusively owned by TimeZone.
                    </p>
                    </div>
            </div>
        </div>
    </div>
</div>